/*============total============*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

h2 {
    color: #931a75;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

/*!*===========buttons===========*!*/
.btn {
    min-height: 10vh;
    padding: 10px 35px;
    font-size: 2vw;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 2em;
}

.btn-grad {
    display: block;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #00c3ff 0%, #ffff1c  51%, #87d0e5 100%);
    transition: 0.5s;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-next {
    display: block;
    padding: 15px 45px;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    background-color: #00c3ff;
}

.btn-next:hover {
    background-color: #4caf50;
}

.btn:disabled {
    opacity: 0.3;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.btn:enabled {
    opacity: 1;
}

.btn-correct {
    background: greenyellow;
}

.btn-incorrect {
    background: red;
}

/*=============================*/

.container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.page {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-img {
    width: 100%;
    object-fit: cover;
}

.page-home {
    background-image: url('./assets/images/img1.svg');
}

.bg-animal {
    background-image: url('./assets/images/img2.svg');
}

.bg-tales {
    background-image: url('./assets/images/img4.svg');
}

.bg-cartoons {
    background-image: url('./assets/images/img3.svg');
}

.bg-mathematics {
    background-image: url('./assets/images/img7.svg');
}

.bg-nature {
    background-image: url('./assets/images/img6.svg');
}

.page-result {
    background-image: url('./assets/images/img5.svg');
}

.btns-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-image: linear-gradient(to right, rgb(135,208,229,0.4) 0%, #eaea54 51%, #72c0d9 100%);
    box-shadow: 0 0 20px #eee;
}

.question, .text-result {
    color: #931a75;
    font-weight: 700;
    text-transform: uppercase;
}

.greyProgress {
    padding: 0 2px 0 2px;
    background-color: #ddd;
    border-radius: 15px;
}

.greenBar {
    background-color: #4caf50;
    border-radius: 15px 0 0 15px;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    color: white;
}

.answers-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.output-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-image: linear-gradient(to right, rgb(135,208,229,0.4) 0%, #eaea54 51%, #72c0d9 100%);
    box-shadow: 0 0 20px #eee;
}

@media (orientation: landscape) {
    .page {
        grid-template-rows: repeat(24, 1fr);
        grid-template-columns: repeat(12, 1fr);
    }

    .wrap-img {
        grid-column: 6 / span 3;
        grid-row: 1 / span 2;
    }

    .desc {
        grid-column: 6 / span 3;
        grid-row: 4 / span 2;
    }

    .total-count {
        grid-column: 6 / span 3;
        grid-row: 5 / span 2;
    }

    .btns-wrap {
        grid-column: 5 / span 5;
        grid-row: 7 / span 14;
    }

    .question-wrap {
        grid-column: 2 / span 10;
        grid-row: 1 / span 6;
        padding: 1em;
        background-image: linear-gradient(to right, rgb(135,208,229,0.4) 0%, #eaea54 51%, #72c0d9 100%);
        box-shadow: 0 0 20px #eee;
    }

    .question, .text-result {
        font-size: 4vh;
        line-height: 6vh;
    }

    .greyProgress {
        grid-column: 5 / span 5;
        grid-row-start: 8;
        height: 11px;
    }

    .greenBar {
        height: 10px;
        font-size: 10px;
        line-height: 10px;
    }

    .answers-wrap {
        grid-column: 5 / span 5;
        grid-row: 9 / span 10;
    }

    .btn-next {
        grid-column: 5 / span 5;
        grid-row: 20 / span 2;
    }

    .output-wrap {
        grid-column: 2 / span 10;
        grid-row: 3 / span 10;
    }

    .btn-home {
        grid-column: 5 / span 5;
        grid-row: 14 / span 2;
    }
}

@media (orientation: portrait) {
    .container {
        height: 105%;
    }

    h2 {
        font-size: 3em;
    }

    .page {
        grid-template-rows: repeat(24, 1fr);
        grid-template-columns: repeat(12, 1fr);
    }

    .page-home, .bg-tales, .bg-nature {
        background-position: 25% 0;
    }

    .bg-animal,.bg-cartoons, .bg-mathematics, .page-result {
        background-position: 100% 0;
    }

    .wrap-img {
        grid-column: 4 / span 7;
        grid-row: 2 / span 2;
    }

    .desc {
        grid-column: 5 / span 5;
        grid-row: 5 / span 2;
    }

    .total-count {
        grid-column: 5 / span 5;
        grid-row: 6 / span 4;
    }

    .btns-wrap {
        grid-column: 4 / span 7;
        grid-row: 8 / span 14;
    }

    .question-wrap {
        grid-column: 2 / span 10;
        grid-row: 3 / span 6;
    }

    .question, .text-result {
        font-size: 6vw;
        line-height: 9vw;
    }

    .greyProgress {
        grid-column: 4 / span 7;
        grid-row-start: 10;
        height: 20px;
    }

    .greenBar {
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }

    .answers-wrap {
        grid-column: 4 / span 7;
        grid-row: 11 / span 8;
    }

    .btn {
        min-height: 8vh;
        font-size: 5vw;
    }

    .btn-next {
        grid-column: 4 / span 7;
        grid-row: 20 / span 2;
    }

    .output-wrap {
        grid-column: 2 / span 10;
        grid-row: 3 / span 10;
        padding: 1em;
    }

    .btn-home {
        grid-column: 5 / span 5;
        grid-row: 14 / span 2;
    }
}

/*!*==========Animation==========*!*/
.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


.fade-out {
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease 0.5s;
    -ms-animation: fadeOut ease 0.5s;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
