/*============total============*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f0dec6;
    font-size: 10px;
    overflow: hidden;
}

h2 {
    color: #009d8d;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.caption-wrap {
    height: 15vh;
    padding: 2rem 2rem 0 2rem;
}

.caption, .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.meta-wrap {
    display: flex;
    width: 60%;
    height: 15vh;
    margin: 0 auto;
    padding: 2rem;
}

.logo-wrap {
    width: 10%;
}

.meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2vh;
    --menu-height: 70vh;
    width: 60%;
    height: var(--menu-height);
    margin: 0 auto;
    padding: 2rem;
}

/*===========buttons===========*/
.btn {
    width: 100%;
    height: calc((var(--menu-height) - 8vh) / 5);
    font-size: calc(((var(--menu-height) - 8vh) / 5) * 0.3);
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 2rem #eee;
    border: none;
    border-radius: 5vh;
    pointer-events: auto;
}

.btn-grad {
    display: block;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #02fee3 0%, #fe7a00  51%, #bda689 100%);
    transition: background 0.5s, opacity 0.5s;
}

.btn-grad:hover {
    background-position: right center;
}

.btn:active {
    background-color: #02fee3;
    box-shadow: 0 0.5rem #666;
    transform: translateY(0.4rem);
}

.btn-next {
    display: block;
    width: 60%;
    padding: 1.5rem 4.5rem;
    background-size: 200% auto;
    box-shadow: 0 0 2rem #eee;
    background-color: #00c3ff;
    pointer-events: auto;
}

.btn-next:hover {
    background-color: #02fee3;
}

.btn:disabled {
    opacity: 0.3;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.btn:enabled {
    opacity: 1;
}

.btn-correct {
    background: greenyellow;
}

.btn-incorrect {
    background: red;
}

/*=============================*/
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.question-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    --question-wrap-height: 20vh;
    height: var(--question-wrap-height);
    margin-top: 3rem;
    background-color: rgb(254, 122, 0, 0.8);
    border-radius: 1rem;
    box-shadow: 0 0 2rem #eee;
}

.question, .text-result {
    color: #eee;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.question span {
    display: block;
    margin-top: 1rem;
    font-size: calc(((var(--question-wrap-height) - 2rem) / 2) * 0.3);
}

.greyProgress {
    width: 59%;
    margin-top: 1rem;
    padding: 0 0.2rem 0 0.2rem;
    background-color: #d9c2a7;
    border-radius: 1.5rem;
}

.greenBar {
    background-color: #fe7a00;
    border-radius: 1.5rem 0 0 1.5rem;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1rem;
    color: white;
}

.answers-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    --answers-wrap-height: 40vh;
    height: var(--answers-wrap-height);
    gap: 2vh;
    padding: 1rem 0 1.5rem;
}

.answers-wrap .btn {
    height: calc((var(--answers-wrap-height) - 6vh) / 3);
    font-size: calc(((var(--answers-wrap-height) - 6vh) / 3) * 0.25);
}

.btn-next {
    height: 11vh;
    font-size: 4vh;
}

.output-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    --output-wrap-height: 50vh;
    height: var(--output-wrap-height);
    margin-top: 2rem;
    background-color: rgba(254, 122, 0, 0.8);
    font-size: calc(((var(--output-wrap-height) - 5rem) / 5) * 0.4);
    border-radius: 1rem;
    box-shadow: 0 0 2rem #eee;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 20vh;
    margin-top: 1rem;
    background-color: transparent;
    font-size: 1.3rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #eee;
}

.output span {
    color: #fe7a00;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-right: solid 3px #fe7a00;
    white-space: nowrap;
    overflow: hidden;
    /*font-family: 'Source Code Pro', monospace;*/
    /*font-size: 28px;*/
    /*color: rgba(255,255,255,.70);*/
}
/* Animation */
.output span:nth-child(1)  {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}
.output span:nth-child(2)  {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
    from{border-right-color: rgba(254, 122, 0, 0.75);}
    to{border-right-color: transparent;}
}
.text-result {
    margin-top: 1rem;
}

.btn-home {
    width: 60%;
    height: 8vh;
    margin-top: 1rem;
    font-size: 1.3rem;
}

@media (max-width: 767px) {
    .meta-wrap,
    .menu,
    .question-wrap,
    .answers-wrap,
    .btn-next,
    .output-wrap,
    .output,
    .btn-home {
        width: 90%;
    }

    .greyProgress {
        width: 88%;
    }

    h2 {
        font-size: 1.3rem;
    }
}

/*@media (max-width: 1199px) {}*/

/*@media (max-width: 991px) {}*/

@media (max-width: 575px) {
    .meta-wrap,
    .menu,
    .question-wrap,
    .answers-wrap,
    .btn-next,
    .output-wrap,
    .output,
    .btn-home {
        width: 98%;
    }

    h2, .btn-home {
        font-size: 0.7rem;
    }

    .btn {
    calc(((var(--answers-wrap-height) - 6vh) / 3) * 0.25);
    }

    .question span {
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }

    .greyProgress {
        width: 96%;
        padding: 0 0.1rem 0 0.1rem;
    }

    .greenBar {
        font-size: 0.4rem;
        line-height: 0.4rem;
    }

    .btn-next {
        margin-top: 1rem;
        line-height: 0.2rem;
    }
}


@media (max-width: 470px) {

    h2, .btn-home {
        font-size: 0.9rem;
    }

    .btn {
    calc(((var(--answers-wrap-height) - 6vh) / 3) * 0.25);
    }

}
/*==========Animation==========*/
.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fade-out {
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease 0.5s;
    -ms-animation: fadeOut ease 0.5s;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
