/*============total============*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background: #f0dec6;
    font-size: 10px;
    overflow: hidden !important;
}

p {
    color: #009d8d;
    text-transform: uppercase;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

#container {
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
}

.caption-wrap {
    height: 10%;
}

.caption, .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.meta-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    --meta-height: 8vh;
    height: var(--meta-height);
    margin-top: 3%;
}

.logo-wrap {
    width: 10%;
    height: 100%;
}

.logo {
    width: auto;
    height: 100%;
}

.meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.desc, .total-count {
    margin-block: 0;
    font-size: calc(var(--meta-height) / 3);
}

.select-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.lang {
    display: block;
    box-sizing: border-box;
    height: 95%;
    padding: 0 10px;
    background-color: transparent;
    font-size: calc(var(--meta-height) / 3) !important;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fe7a00;
    -o-appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    scroll-behavior: smooth;
    overflow: hidden;
    outline: 1px solid #fe7a00;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
}

.option {
    font-size: calc(var(--meta-height) / 3) !important;
}

select::-ms-expand {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1vh;
    --menu-height: 70vh;
    width: 60%;
    height: var(--menu-height);
    margin-top: 1vh;
    padding: 0 0 1vh;
}

/*===========buttons===========*/
.btn {
    width: 100%;
    height: calc((var(--menu-height) - 8vh) / 5);
    font-size: calc(((var(--menu-height) - 8vh) / 5) * 0.3);
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 2rem #eee;
    border: none;
    border-radius: 5vh;
    pointer-events: auto;
}

.btn-grad {
    display: block;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #02fee3 0%, #fe7a00  51%, #bda689 100%);
    transition: background 0.5s, opacity 0.5s;
}

.btn-grad:hover {
    background-position: right center;
}

.btn:active {
    background-color: #02fee3;
    box-shadow: 0 0.5rem #666;
    transform: translateY(0.4rem);
}

.btn-next {
    display: block;
    width: 60%;
    --btn-next-height: 10vh;
    height: var(--btn-next-height);
    margin-top: 2.5vh;
    font-size: calc(var(--btn-next-height) * 0.35);
    line-height: var(--btn-next-height);
    background-size: 200% auto;
    box-shadow: 0 0 2rem #eee;
    background-color: #00c3ff;
    pointer-events: auto;
}

.btn-next:hover {
    background-color: #02fee3;
}

.btn-home {
    width: 60%;
    --btn-home-height: 10vh;
    height: var(--btn-home-height);
    font-size: calc(var(--btn-home-height) * 0.35);
    line-height: var(--btn-home-height);
    pointer-events: auto;
}

.btn:disabled {
    opacity: 0.3;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.btn:enabled {
    opacity: 1;
}

.btn-correct {
    background: greenyellow;
}

.btn-incorrect {
    background: red;
}

/*=============================*/
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.question-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    --question-wrap-height: 30vh;
    height: var(--question-wrap-height);
    padding: 4px;
    background-color: rgb(254, 122, 0, 0.8);
    border-radius: 1rem;
    box-shadow: 0 0 2rem #eee;
}

.question, .text-result {
    color: #eee;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.question span {
    display: block;
    font-size: calc((var(--question-wrap-height) / 2) * 0.3);
}

.greyProgress {
    width: 59%;
    margin-top: 2vh;
    background-color: #d9c2a7;
    border-radius: 1.5rem;
}

.greenBar {
    background-color: #fe7a00;
    border-radius: 1.5rem 0 0 1.5rem;
    text-align: center;
    font-size: 0.7rem;
    line-height: 0.7rem;
    color: white;
}

.answers-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    --answers-wrap-height: 45vh;
    height: var(--answers-wrap-height);
    gap: 2vh;
    margin-top: 2vh;
}

.answers-wrap .btn {
    height: calc((var(--answers-wrap-height) - 6vh) / 3);
    font-size: calc(((var(--answers-wrap-height) - 6vh) / 3) * 0.25);
}

.output-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    --output-wrap-height: 50vh;
    height: var(--output-wrap-height);
    background-color: rgba(254, 122, 0, 0.8);
    font-size: calc((var(--output-wrap-height) / 5) * 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 2rem #eee;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --output-height: 30vh;
    width: 60%;
    height: var(--output-height);
    padding: 15px 10px;
    background-color: transparent;
    font-size: calc((var(--output-height) / 4) * 0.4);
    border-radius: 1rem;
    box-shadow: 0 0 2rem #eee;
}

.output span {
    color: #fe7a00;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-right: solid 3px #fe7a00;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.output span:nth-child(1)  {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}
.output span:nth-child(2)  {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
    from{border-right-color: rgba(254, 122, 0, 0.75);}
    to{border-right-color: transparent;}
}

@media (max-width: 992px) and (orientation: portrait) {
    .meta-wrap,
    .menu,
    .question-wrap,
    .answers-wrap,
    .btn-next,
    .output-wrap,
    .output,
    .btn-home {
        width: 90%;
    }
    .greyProgress {
        width: 88%;
    }

    .question span {
        display: block;
        font-size: calc((var(--question-wrap-height) / 2) * 0.2);
    }
}

@media (max-width: 767px){
    .meta-wrap,
    .menu,
    .question-wrap,
    .answers-wrap,
    .btn-next,
    .output-wrap,
    .output,
    .btn-home {
        width: 90%;
    }

    .greyProgress {
        width: 88%;
    }

    .desc, .total-count, .option {
        font-size: calc(var(--meta-height) / 2);
    }

    .option {
        font-size: calc(var(--meta-height) / 2) !important;
    }


}

@media (max-width: 575px) {
    .meta-wrap,
    .menu,
    .question-wrap,
    .answers-wrap,
    .btn-next,
    .output-wrap,
    .output,
    .btn-home {
        width: 98%;
    }

    .logo-wrap {
        width: 13%;
    }

    .greyProgress {
        width: 96%;
        padding: 0 0.1rem 0 0.1rem;
    }

    .greenBar {
        font-size: 0.4rem;
        line-height: 0.4rem;
    }

    .desc, .total-count, .option {
        font-size: calc(var(--meta-height) / 3);
    }

    .option {
        font-size: calc(var(--meta-height)) !important;
    }

    .answers-wrap .btn {
        font-size: calc(((var(--answers-wrap-height) - 6vh) / 3) * 0.2);
    }
    .output-wrap {
        font-size: calc((var(--output-wrap-height) / 5) * 0.4);
    }

}

@media (max-width: 370px){
    .desc, .total-count, .option {
        font-size: calc(var(--meta-height) / 4);
    }

    .question span {
        font-size: calc((var(--question-wrap-height) / 2) * 0.2);
    }

    .output-wrap {
        font-size: calc((var(--output-wrap-height) / 5) * 0.3);
    }

}


/*==========Animation==========*/
.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fade-out {
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease 0.5s;
    -ms-animation: fadeOut ease 0.5s;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
